{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
