/* bootstrap customizations - overriding bootstrap styles which cannot easily be done with 
   sass variables. */

@use './variables';

.btn-primary {
  border: variables.$border-1;
  color: variables.$fg-1;
  background: variables.$bg-2;

  &:hover,
  &:active,
  &:focus {
    border: variables.$border-1;
    background: variables.$bg-1;
  }
}

.dropdown-menu {
  border: variables.$border-1;
  padding: 0.3rem;

  .dropdown-item {
    margin: 0.3rem;
    padding: 0.3rem 0.3rem;
    width: auto;
    border-radius: variables.$border-radius;

    &:hover {
      background: variables.$bg-3;
      color: #fff;
    }
  }
}

.navbar-nav {
  width: 100%;
  .nav-link {
    width: 100%;
    border-radius: variables.$border-radius;
    padding: 0.3rem;
    margin: 0.3rem;
    &:hover {
      background: variables.$bg-3;
      color: #fff;
    }
    &:focus {
      color: #fff;
    }
  }
}

.card {
  background: variables.$bg-2;
  border: variables.$border-1;

  .card-title {
    color: #fff;
  }
}

.btn {
  transition: background 0.3s ease-in;
  margin-left: 6px; 
}

.btn-primary {
  &:hover {
    background: variables.$positive-bg;
  }
}
.btn-warning {
  background: variables.$bg-2;
  border: variables.$border-1;
  color: variables.$fg-1;

  &:hover, &:focus, &:active {
    background: variables.$warning-bg;
    color: variables.$fg-1;
    border: variables.$border-1 !important;
  }

}

.alert-danger {
  background: #180404;
  color: #dd4040;
  border: #bb4040 1px solid;
}

form .alert-danger {
  margin: 0 -1rem;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
