// colors & fonts
$bg-1: #0f111a;
$bg-2: #141824;
$bg-3: #31374a;
$fg-1: #9fa6bc;
$error-fg: #b44;
$warning-bg: #2f2120;
$positive-bg: #142824;
$border-1: 1px solid $bg-3;
$border-radius: 0.375rem;
$font-family: 'Abel', sans-serif;
$font-size: 1.2rem;

// layout sizes
$header-height: 4rem;
$menu-width: 15rem;
