
@import "./variables";

.content {
  padding-top: variables.$header-height;
  animation: fadeIn 1s;

  .navbar {

    border-bottom: variables.$border-1;
    padding: .2em .4em; 

    .navbar-brand { 
      color: #fff;
      h1 { 
        font-size: 18pt; 
        margin: 0px; 
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .content {
    margin-left: variables.$menu-width;
  }
}