@import './variables';

#Header {
  border-bottom: variables.$border-1;
  min-height: variables.$header-height;
  max-height: variables.$header-height;
  background: variables.$bg-2;
  z-index: 1000;
  padding: 0 0.4em;
  margin: 0px;
  z-index: 1000;
  .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    padding: 0;

    .svg-inline--fa {
      color: variables.$fg-1;
    }

    .logo {
      height: variables.$header-height - 1;
      fill: #fff;
    }
  }
}

#left-menu {
  border-right: variables.$border-1;
  position: fixed;
  top: variables.$header-height;
  width: variables.$menu-width;
  background: variables.$bg-2;
  z-index: 1000;
  height: calc(100vh - variables.$header-height);
  display: block;

  .navbar-nav {
    flex-direction: column;
    align-items: top;
  }
}

.main-section {
  .title {
    position: sticky;
    top: variables.$header-height;
    background: variables.$bg-1;
    height: 2.6rem;
    margin: 0px -12px;
    margin-bottom: 12px;
    z-index: 100;
  }

  .sticky-table-header {
    position: sticky;
    top: variables.$header-height + 2.6rem;
  }
}

.data-table {
  .action-column {
    width: 5rem;
    text-align: center;
  }
}
