@use './variables';
@use './animation';

@import './vendors'; // Bootstrap cusatomization
@import "./layout"; 

@import './content'; 


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: variables.$bg-1;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}


.closable { 

  .close { 
    color: variables.$fg-1;
    display: none; 
  }

  &:hover .close { 
    display: block; 
  }
}