@use './variables';
@use './animation';

@import './vendors'; // Bootstrap cusatomizations

#Header {
  border-bottom: variables.$border-1;
  min-height: variables.$header-height;
  max-height: variables.$header-height;
  background: variables.$bg-2;
  z-index: 1000;

  .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    padding: 0;

    .svg-inline--fa {
      color: variables.$fg-1;
    }

    .logo {
      height: variables.$header-height - 1;
      fill: #fff;
    }
  }
}

.navbar-vertical {
  border-right: variables.$border-1;
  position: fixed;
  top: variables.$header-height;
  width: variables.$menu-width;
  background: variables.$bg-2;
  z-index: 1000;
  height: calc(100vh - variables.$header-height);

  .container-fluid {
    flex-direction: column;
    align-items: flex-start;
  }

  &.navbar-expand-sm {
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.content {
  padding: 2rem;
  padding-top: variables.$header-height + 2rem;
  animation: fadeIn 1s;
  h1 {
    color: #fff;
  }
}

@include media-breakpoint-up(sm) {
  .content {
    margin-left: variables.$menu-width;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: variables.$bg-1;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}


.closable { 

  .close { 
    color: variables.$fg-1;
    display: none; 
  }

  &:hover .close { 
    display: block; 
  }
}