.sign-in-col {
  border-left: 1px solid #31374a;
  border-right: 1px solid #31374a;
}

.sign-in-form {
  color: #8194ad;
  background: #141824;
  border-top: 1px solid #31374a;
  border-bottom: 1px solid #31374a;
}

.sign-in-col h3 {
  margin-top: 45vh;
  padding: 0 16px;
  color: #fff;
}

.info {
  height: 400px;
  border-top: 1px solid #31374a;
  border-bottom: 1px solid #31374a;
}

/* specific code for rendering the splash page animation */

.splash {
  stroke: #21273a;
  fill: #0000;
  stroke-width: 0.01em;
  animation: heat 4s forwards;
  z-index: -10;
  padding: 64px;
  overflow: hidden;
  filter: blur(0px);

  svg {
    overflow: visible;
  }

  .spinner {
    animation: spin 2 2s linear;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }

  #beetle {
    stroke-width: 0.01em;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: rotate(15deg);
  }

  #gear {
    transform-origin: 50% 50%;
    animation: land;
    animation: spin 36s infinite linear;
  }

  @keyframes twitch {
    91% {
      transform: rotate(3deg);
    }
    92% {
      transform: rotate(-3deg);
    }
    93% {
      transform: rotate(3deg);
    }
    94% {
      transform: rotate(-3deg);
    }
    95% {
      transform: rotate(3deg);
    }
    96% {
      transform: rotate(-3deg);
    }
    97% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes land {
    from {
    }
    to {
      x: 0;
      y: 0;
      transform: scale(10%);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
